/* styles will go here to overwrite the bootstrap default values */

/* ==== Embedded fonts ==== */
@font-face {

	font-family:Santana;
	src: url('../fonts/santana.ttf'),
		 url('../fonts/santana.eot')/* IE */;
}

/* ==== Body Styles ==== */

body{
	background-color: #7E8CA4;
	color: #EFEFEF;
}

/* ==== Heading styles ==== */

.page-head h1 {
	font-family: 'Santana', Helvetica, Arial, sans-serif;
}

.page-head small {
	color: #CFCFCF;
}

/* ==== Spacing classes ==== */
.small-margin-bottom {
	margin-bottom: .5em;
}

/* ==== Wells ==== */
.well {
	color: #000;
}