/* styles will go here to overwrite the bootstrap default values */

/* ==== Embedded fonts ==== */
@font-face {

	font-family:Santana;
	src: url('../fonts/santana.ttf'),
		 url('../fonts/santana.eot')/* IE */;
}


.grey {
	color: #414141;
}

.list-container {
	margin-top: 50px;
	padding-top: 5px;
}

.list-container a {
	color: #414141;
	font-size: 22px;
}
/* ==== Body Styles ==== */

body{
	background-color: #7E8CA4;
	color: #EFEFEF;
}

header {
	background-color: #000;
}

footer {
	background-color: #000;
}

.details-list {
	list-style: none;
}

.details-list li {
	margin: 5px 0;
}

/* ==== Heading styles ==== */

.page-head h1 {
	font-family: 'Santana', Helvetica, Arial, sans-serif;
}


/* ==== Spacing classes ==== */
.small-margin-bottom {
	margin-bottom: .5em;
}

/* ==== Wells ==== */
.well {
	color: #000;
}

.border-botom {
	border-bottom: 1pxx solid #414141;
}

.center {
	margin: auto;
}
